* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background: #070b17;
}

.welcome-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #070b17;
}

/* ===========================
   GLOWS
=========================== */

.glow {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
}

.glow-blue {
  width: 350px;
  height: 350px;

  top: -100px;
  left: -100px;

  background: #22d3ee;
  opacity: .45;
}

.glow-purple {
  width: 450px;
  height: 450px;

  right: -150px;
  bottom: -150px;

  background: #8b5cf6;
  opacity: .45;
}

.glow-orange {
  width: 250px;
  height: 250px;

  right: 20%;
  bottom: 80px;

  background: #fb923c;
  opacity: .35;
}

/* ===========================
   CARD
=========================== */

.welcome-card {

  width: 720px;

  padding: 70px;

  border-radius: 30px;

  background: rgba(255,255,255,.06);

  border: 1px solid rgba(255,255,255,.08);

  backdrop-filter: blur(25px);

  box-shadow:
      0 20px 60px rgba(0,0,0,.45);

  text-align: center;

  z-index: 5;
}

/* ===========================
   TEXTOS
=========================== */

.eyebrow{

    color:#38bdf8;

    font-size:15px;

    font-weight:700;

    letter-spacing:6px;

    margin-bottom:20px;
}

h1{

    color:white;

    font-size:72px;

    line-height:1;

    margin-bottom:25px;
}

.description{

    color:#bfc7d5;

    font-size:22px;

    line-height:1.7;

    margin-bottom:50px;
}

/* ===========================
   BOTONES
=========================== */

.actions{

    display:flex;

    justify-content:center;

    gap:20px;
}

button{

    width:220px;

    padding:18px;

    border:none;

    border-radius:999px;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.primary-button{

    color:white;

    background:linear-gradient(
        135deg,
        #22d3ee,
        #7c3aed,
        #ec4899
    );

    box-shadow:
        0 15px 40px rgba(124,58,237,.5);
}

.secondary-button{

    color:white;

    background:rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);
}

button:hover{

    transform:translateY(-4px);
}